<!-- 
- problem with using ngFor 
- 'greet' has incorrectly formatted json
- word definitions are not all in the same array so the word and audio section of the json is repeated
- rendered html will have duplication of the article__heading div i.e. multiple audio players 

- possible to use conditional to check if word.word === greet and then return different html ?
- likely this isn't the only word with this problem

- I used 'first' to show the heading section for only the first entry of word$  

- Fixing the duplication of the heading section doesn't prevent the duplication of the source section
- Used last to only show the last source entry as this causes no extra layout changes
- the entry for 'greet' now looks the same as an entry with a correct json response

- if you look at my react implementation, you only get the first meaning of 'greet' and the rest of meanings are discarded
-->

<div class="app__error" *ngIf="errorResponse">{{ errorResponse.message }}</div>
<div>
  <article
    *ngFor="
      let word of word$ | async;
      first as onlyFirstEntryWord;
      last as lastEntrySource
    "
  >
    <section class="article__heading" *ngIf="onlyFirstEntryWord">
      <div class="article__heading__left">
        <h1 class="article-h1">{{ word.word }}</h1>
        <h2>{{ word.phonetic }}</h2>
      </div>
      <div class="article__heading__right">
        <div
          *ngFor="
            let phonetic of findAudio(word.phonetics);
            first as firstAudio
          "
        >
          <div class="player-div" *ngIf="firstAudio">
            <app-player audioSrc="{{ phonetic.audio }}"></app-player>
          </div>
        </div>
      </div>
    </section>
    <section class="article__word__props" *ngFor="let meaning of word.meanings">
      <app-meaning [meaning]="meaning"></app-meaning>
    </section>
    <section class="article__source" *ngIf="lastEntrySource">
      <h4>Source</h4>
      <div *ngFor="let el of word.sourceUrls">
        <app-source [source]="el"></app-source>
      </div>
    </section>
  </article>
</div>
